.App {
  text-align: center;
}


.formDiv {
  height: 60vh;
  /* width: 35vw; */
  border: 2px black solid;
}

.dashboardDiv {
  display: flex;
  justify-content: center;
}

.todosDiv, .goalsDiv {
  width: 40vw;
  height: 70vh;
  border: 2px solid black;
}