.App {
  text-align: center;
}


.formDiv {
  height: 60vh;
  /* width: 35vw; */
  border: 2px black solid;
}


.todosDiv, .goalsDiv {
  width: 80vw;
  height: 70vh;
  border: 2px solid black;
}

.longGoalsDiv, .shortGoalsDiv {
  width: 79vw;
  height: 30vh;
  border: 2px solid green;
}

.todosDiv {
  height: 55vh;
  width: 75vw;
  border: 2px solid green;

}

.dashboardDiv {
  display: flex;
  justify-content: center;
}

.dashboardContainerDiv {
  width: 80vw;
  height: auto;
  border: 2px solid blue;
}

.dashboardHeader {
  font-size: 3rem;
  margin-bottom: 5vh;
}

.todoDeleteButton {
  color: blue;
}